body {
	max-width: 1000px;
}
h2 {
	color: blue;
	text-decoration: underline;
	text-transform: uppercase;
}
img {
	border:3px solid red;
	max-width: 300px;
}
a:link {
	color: blue;
	
}
a:visited {
	color:red;
}
a:hover {
	background-color: yellow;
	color: green;
}
a:active {
	color:purple;
}